/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  // 取消移动端点击高亮
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// 全局样式

html, body, #app {
  height: 100%;
	// min-width: 800px;
}

.eli {
	white-space: nowrap;
	// width: 100%;
	// display: block;
	overflow: hidden;	
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 滚动条
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: hsl(0deg 0% 42% / 20%);
	border-radius: 10px;
	transition: all .2s ease-in-out;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .25s;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
}

.edit-page {
  padding: 25px 25px 45px;
}

$circleW: 5.6rem;
.spotlight {
  font-family: sans-serif;
  text-transform: lowercase;
  // font-size: 4rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  // color: #000;

  &:before {
    content: attr(data-text);
    position: absolute;
    background: linear-gradient(#003fff, #00f5d4, #8ed033, #00bbf9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 100% 100%;
    line-height: 1.2;
    clip-path: ellipse($circleW $circleW at -10% -45%);
    animation: swing 3s infinite alternate;
  }
}

@keyframes swing {
  0% {
    clip-path: ellipse($circleW $circleW at -10% -45%);
  }
  50% {
    clip-path: ellipse($circleW $circleW at 49.66% 64.36%);
  }
  100% {
    clip-path: ellipse($circleW $circleW at 102.62% -1.61%);
  }
}

@media screen and (max-width: 700px) {
  #nprogress .bar {
    // background: #F811B2 !important; //自定义颜色
    height: 3px;
  }
}

.mobile .main-page {
  padding: 0;
  :deep(.el-card) {
    box-shadow: none;
    border: none;
  }
}

.main-page {
  padding: 25px 25px 45px;
}