:deep(.el-table) {
  td.expand {
    padding: 0;
    .cell {
      line-height: 60px;
      height: 60px;
      .el-table__expand-icon {
        height: 100%;
      }
    }
  }
  .goods-img {
    width: 65px;
    aspect-ratio: 1;
    img {
      object-fit: contain;
    }
  }
  .inscription-img {
    width: 45px;
    min-height: 45px;
  }
  .option {
    display: flex;
    flex-wrap: wrap;
    .el-button {
      margin-left: 0;
      width: 100%;
      // &:last-child {
      //   margin-top: 10px;
      // }
    }
  }
  .el-table__empty-text {
    line-height: 250px;
  }
}
:deep(.el-form) {
  padding: 0 20px;
  .el-form-item {
    &:last-child {
      margin-bottom: 0;
    }
  }
}